/* Hide scrollbar completely, no matter the browser */
html, body {
  overflow: hidden !important;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* Safari / Chrome */
*::-webkit-scrollbar {
  display: none;
}
